body {
  font-family: sans-serif;
  background-color: darkmagenta;
}

#page-wrap {
  margin: 0 auto;
  max-width: 500px;
}

#header-wrap {
  color: white;
}

select {
  background-color: lightcoral;
}

input {
  background-color: lightcoral;
}

.title {
  font-weight: bold;
  color:white;
  text-align: center;
}

.lightRow {
  background-color: lightpink !important;
}

table {
  border-collapse: collapse;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  background-color:lightcoral;
}

th {
  background-color: darkorchid;
  color: white;
  padding: 3px !important;
}

.fullP {
  width: 97%;
}

td select {
  border: none;
  -webkit-appearance: none;
  padding: 2px;
}

table, td, th {
  border: 1px solid black;
}

th, td, tr {
  padding: 0px;
  margin: 0px !important;
}

ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li
{
    display: block;
    position: relative;
    float: left;
}

li ul
{
    display: none;
}

ul li a 
{
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #2C5463;
    margin-left: 1px;
    white-space: nowrap;
}

ul li a:hover 
{
    background: #617F8A;
}
li:hover ul 
{
    display: block;
    position: absolute;
}

li:hover li
{
    float: none;
    font-size: 11px;
}

li:hover a 
{
    background: #617F8A;
}

li:hover li a:hover 
{
    background: #95A9B1;
}